body {
    overflow:auto;
    background-color: #EDEDED;
    background-image: url(../img/Bing/Bing0.jpg);
    background-repeat: no-repeat;
    background-size:cover; /* 如果屏幕没有铺满，请把auto改为你自己显示器分辨率 */
    font-family:'Microsoft YaHei';
    font-size: 62.5%;
}

/*设置导航整体面板*/
#navs {
    position:relative;
    top: 15em;
    width:750px;
    margin:auto;
    padding: 0.6em;
    background-color: #000;
    opacity:0.65;
    border:0.1em solid #000;
}
#navs span{
    font-weight: bold;
    color:white;
    border-bottom: 0.1em solid #555;
}
#link{
  font-size:1.7em;
  font-weight: bold;
  color:gray;
}
#link a {
    color: #FFF;
    text-decoration:none;
}
#link img {
    margin-right:0.25em;
    margin-bottom: -0.1em;
}
