body {
    overflow:auto;
    background-color: #EDEDED;
    background-image: url(../img/Bing/Bing0.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    font-family:'Microsoft YaHei';
    font-size: 62.5%;
}

/*设置导航整体面板*/
#navs {
    position:relative;
    top: 20em;
    width:1070px;
    margin:auto;
    padding: 0.6em;
    background-color: #000;
    opacity:0.65;
    border:0.1em solid #000;
}
#navs span{
    font-weight: bold;
    color:white;
    border-bottom: 0.1em solid #555;
}
#navs table{
  font-size:1.7em;
  font-weight: bold;
}
#navs table th{
  text-align:left;
  top:0.5em;
  color:gray;
}
#navs table td a{
    color:#FFF;
}
#navs table .download a{
	display:block;
	padding:10px 10px 10px 45px;
	background-position:0 50%;
	background-repeat:no-repeat;
	background-image:url(../img/download-icons.png)
}

#navs table .download.win64 a{
	background-position:-300px 50%
}

#navs table .download.linux a{
	background-position:-600px 50%
}

#navs table .download.linux64 a{
	background-position:-900px 50%
}

#navs table .download.mac a{
	background-position:-1200px 50%
}
