body {
    overflow:auto;
    background-color: #EDEDED;
    background-image: url(../img/Bing/Bing0.jpg);
    background-repeat: no-repeat;
    background-size:cover; /* 如果屏幕没有铺满，请把auto改为你自己显示器分辨率 */
    font-family:'Microsoft YaHei';
    font-size: 62.5%;
}
img { max-width: 100%;}

#navs {
  position:relative;
  float:left;
  top: 13em;/*导航整体面板到搜索框的距离*/
  left: 38%;  /*导航整体面板到窗口左边的距离*/
  width:--px; /*导航整体面板宽度*/
  margin:auto;
  padding: 0.6em;
  background-color: #000;
  opacity:0.65;
  text-align:center
}
#title{
  font-size:1.8em;
  font-weight: bold;
  color:gray;
}
#title a{
    list-style: none;
    float:left;
    height:1.6em;
    width:7em;
    color: #FFF;
    text-decoration:none;
}
#titile a:hover{
    text-decoration: none;
    transition:color 0.423s ease,text-shadow 0.423s ease;
    color:rgba(255,200,0,0.9);
    text-shadow:0 1px rgba(242,33,49,1), 0 1px 1px rgba(242,33,49,1), 0 -1px 1px rgba(242,33,49,1), 1px 0 1px rgba(242,33,49,1), -1px 0 1px rgba(242,33,49,1), 0 0 3px rgba(242,33,49,1);
}
#ps {
  position:absolute;
  bottom:0px;
  left: 33%; 
  font-size:1.3em;
  font-weight: bold;
}

