#searchPanel{background-color:#333;width:355px;position:absolute;padding:15px;display:none;overflow-x:hidden;z-index:9999;top:32px;left:10px;border-radius:3px;border-top-left-radius:0;font-family:Arial,sans-serif;margin:0}
#searchPanel ul{list-style-type:none;width:175px;float:left;margin:0 0 0 10px}
#searchPanel ul:first-child{margin:0}
#searchPanel form{margin:0}
#searchPanel input{width:100%}
#searchPanel #countriesButton,#searchPanel #languagesButton{border-radius:4px;cursor:pointer;padding:5px 24px 5px 9px;white-space:nowrap;background:#1f2126;border:1px solid #191a1a;border-top-color:#4e4e4e;color:#fff;box-shadow:0 1px 2px rgba(0,0,0,0.2);outline:0;position:relative;text-transform:capitalize}
#searchPanel .dropdown_arrow_countries,#searchPanel .dropdown_arrow_languages{display:block;content:' ';background:transparent url('../images/dropdown_arrow.png') no-repeat scroll 0 0;width:12px;height:10px;position:absolute;top:50%;margin-top:-6px;right:15px}
#searchPanel #subcategoryoff.no-hover:hover #countriesButton,#searchPanel #countriesButton.toggled,#searchPanel #subcategoryoff.no-hover:hover #languagesButton,#searchPanel #languagesButton.toggled{border-top-color:#191919;background:#191a20;border-bottom-left-radius:0;border-bottom-right-radius:0}
#searchPanel .advanced{text-decoration:underline;font-family:Arial,sans-serif;font-size:11px;color:#FFF;cursor:pointer;width:100%;text-align:right}
#searchPanel .advanced .closed{display:block;clear:both}
#searchPanel .advanced .opened{display:none;clear:both}
#searchPanel li{margin-top:auto;padding:4px 8px}
@-moz-document url-prefix(){#searchPanel .dropdown li{padding-bottom:3px}
}
#searchPanel li.category{color:#9b9b9b;font-size:11px;font-weight:bold;margin-top:10px}
#searchPanel ul li:first-child{margin-top:0}
#searchPanel li.subcategoryoff{font-weight:normal;font-size:11px;color:#EEE;cursor:pointer;border-radius:2px;text-transform:capitalize;margin:0 0 1px}
#searchPanel li.subcategoryon{color:#ffca27;background-color:#292929}
#searchPanel li.subcategoryoff:hover{background-color:#424242}
#searchPanel li.subcategoryoff.no-hover{position:relative}
#searchPanel li.subcategoryoff.no-hover:hover{background-color:transparent}
#searchPanel li span{float:right}
#searchPanel .reset{background:none repeat scroll 0 0 #707070;border:0 none;color:#fff;font:12px Arial,Helvetica,sans-serif;height:29px;padding:0 7px;text-decoration:none;min-width:37%;width:auto;border-radius:2px;cursor:pointer;margin:2px 0 7px;display:inline-block;box-sizing:border-box;text-align:center;outline:0}
#searchPanel .reset:hover{background:none repeat scroll 0 0 #666}
#searchPanel .submit{background:#fc531d;border:0 none;color:#fff;font:12px Arial,Helvetica,sans-serif;margin:2px 0 7px;padding:0 7px;text-decoration:none;min-width:60%;width:auto;height:29px;border-radius:2px;cursor:pointer;display:inline-block;text-align:center;box-sizing:border-box;outline:0}
#searchPanel .submit:hover{background:#e83c00}
.filterDiv{display:block;background:#fff url("images/arrow-up-down.png") no-repeat scroll 87% -27%;padding:6px 29px 6px 10px;color:#555;font-size:13px;font-family:Arial,sans-serif;cursor:pointer;float:left;border-radius:2px;border:1px solid #c4c4c4;position:absolute;min-width:10px;top:5px;left:10px}
.filterDiv:hover{border-color:#121212;color:#121212}
.filterDiv.toggled{background:#333 url("images/arrow-up-down.png") no-repeat scroll 88% 65%;border-bottom-left-radius:0;border-bottom-right-radius:0;border:1px solid #333;color:#FFF;z-index:9999}
#searchPanel .toggleCheckLi input[type="checkbox"]{width:15px;display:none}
.toggleCheckLi:hover{background-color:#424242;cursor:pointer;color:#ffca27}
.toggleCheckLi.active{background-color:#444}
li .dropdown{border-radius:3px;overflow-x:hidden;overflow-y:scroll;height:134px;width:159px;position:absolute;z-index:10000;background-color:#191a20;color:#fff;display:none;border-top-left-radius:0;border-top-right-radius:0}
.dropdown li label{cursor:pointer;padding-left:3px}
.dropdown hr{border:1px dotted #424242;width:100%}
.standard{width:735px}
#countries ul,#languages ul{width:160px;position:relative;display:block}
#countriesButton,#languagesButton{width:160px}
.buttons-container{overflow:hidden;position:absolute;width:167px;bottom:13px;right:10px;background:#333;box-sizing:border-box}
#totalCount{margin:5px 0;font-size:11px;overflow:hidden}
#totalCount #totalCountNumber{float:left;min-width:33px;padding:5px 7px;color:#ffca27;text-align:center;white-space:nowrap;vertical-align:baseline;background-color:#222;border-radius:10px}
#totalCount #resultsFound{margin:5px 0 0 5px;color:#fff;text-transform:lowercase}
.loader{display:block;margin:5px auto;float:none}
.buttons{position:absolute;top:5px;right:11px;width:210px;text-align:right}
.buttons .hd-cams:link,.buttons .hd-cams:visited{display:inline-block;padding:7px 12px;background:#fff;border:1px solid #c4c4c4;border-radius:2px;text-align:center;color:#555;font-family:Arial,sans-serif;font-size:13px}
.buttons .hd-cams:link:hover,.buttons .hd-cams:visited:hover{text-decoration:none;background:#fff;border-color:#121212;color:#121212}
#orderByButton{display:inline-block;background:#fff url("images/arrow-up-down.png") no-repeat scroll 87% -27%;padding:6px 27px 6px 10px;color:#555;font-size:13px;font-family:Arial,sans-serif;cursor:pointer;border:1px solid #c4c4c4;border-radius:2px;margin:0 0 0 5px}
#orderByButton:hover{border-color:#121212;color:#121212}
#orderByButton.toggled{border-color:#121212;color:#121212;background-position:87% 130%}
#searchOrderBy{display:none;border:1px solid #efefef;position:absolute;z-index:9999;background:#fff;right:0;padding:5px 0 0;top:29px}
#searchOrderBy ul{list-style-type:none;font-size:12px;font-family:Arial,sans-serif;cursor:pointer}
#searchOrderBy li{padding:5px 15px}
#searchOrderBy li:hover{background-color:#efefef}
.clicked{color:#fc531d}
.unclicked{color:#666}
.searchBar{position:relative;box-sizing:border-box;min-height:38px}
.searchBar *{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.tags{width:100%;padding:0 210px 0 110px;list-style-type:none;overflow:hidden;margin:5px 0 3px 0}
.tags ul{list-style-type:none;overflow:hidden;float:left;margin:4px 0 2px 5px;border:1px solid #d1d1d1;padding:1px;border-radius:3px}
.tags li{float:left;margin:0 0 0 1px;background:#f0f0f0;position:relative;padding:4px 25px 4px 8px;font-size:11px;color:#555;font-family:Arial,sans-serif;line-height:1;text-transform:lowercase;display:none}
.tags li:first-child{margin:0}
.tags span{position:absolute;top:4px;right:9px;cursor:pointer}
#directoryDiv .pager{font-size:0}
#directoryDiv .page a,#directoryDiv .page span{font-size:16px}
#directoryDiv .pager a:first-child,#directoryDiv .pager span:first-child{border-left:none}
#tags_countries,#tags_languages{display:none}
#directoryHtml #directoryDiv{margin-right:10px}
#directoryHtml{position:relative}
.directory-loader{display:block;margin:5px auto;float:none;position:absolute;top:0;left:0;right:0}
#directoryHtml .errorMessage{margin-top:2px}
.no-results{text-align:center;width:auto}
.no-results p{display:inline-block;width:auto;font-weight:bold;font-size:12px;padding-top:3px;font-family:Arial,Helvetica,sans-serif;margin-top:150px;position:relative;background:transparent url('../images/unhappy_icon.png') no-repeat scroll center left;padding:15px 0 15px 50px}
#directory{padding:10px 10px 0}
#directorySavedSearches{float:left;margin-bottom:7px}
#directorySavedSearches>ul{display:inline-block}
.searchTooltip{display:inline-block;vertical-align:top;padding:7px 10px;background:#dff0d8;color:#3c763d;border-radius:3px;position:relative;margin:2px 0 0 10px;font-family:Arial;font-size:11px}
.searchTooltip:after,.searchTooltip:before{right:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute}
.searchTooltip:after{border:4px solid rgba(223,240,216,0);border-right-color:#dff0d8;margin:-4px 0 0}
.searchTooltip:before{border:5px solid rgba(214,233,198,0);border-right-color:#d6e9c6;margin:-5px 0 0}
.searchTooltip.error{background:#f2dede;color:#a94442}
.searchTooltip.error:after{border:4px solid rgba(242,222,222,0);border-right-color:#f2dede;margin:-4px 0 0}
.searchTooltip.error:before{border:5px solid rgba(235,204,209,0);border-right-color:#ebccd1;margin:-5px 0 0}
#directorySavedSearches>ul{list-style-type:none;height:30px}
#directorySavedSearches ul li{float:left;font-family:Arial;height:30px}
#directorySavedSearches li a:link,#directorySavedSearches li a:visited{font-size:12px;color:#444;padding:7px 6px 7px 6px;border:1px solid #c4c4c4;margin:0 0 0 -1px;display:block;position:relative;z-index:1}
#directorySavedSearches .country-tab a:link,#directorySavedSearches .country-tab a:visited{text-transform:uppercase}
#directorySavedSearches li .active:link,#directorySavedSearches li .active:visited{background:#a4a4a7;text-shadow:0 -1px 2px rgba(0,0,0,0.2);box-shadow:inset 0 0 10px -2px rgba(0,0,0,0.3);color:#fff}
#directorySavedSearches li a:link:hover,#directorySavedSearches li a:visited:hover{text-decoration:none;border-color:#111;z-index:2}
#directorySavedSearches li:first-child a:link,#directorySavedSearches li:first-child a:visited{border-top-left-radius:3px;border-bottom-left-radius:3px;margin:0}
#directorySavedSearches li:last-child a:link,#directorySavedSearches li:last-child a:visited{border-top-right-radius:3px;border-bottom-right-radius:3px}
#directorySavedSearches .flag{text-indent:-9999px;display:block;margin:1px 1px 2px}
.savedSearchesWrapper{position:relative}
.savedSearchesWrapper.multiple a:link,.savedSearchesWrapper.multiple a:visited{padding:7px 27px 7px 6px!important}
.savedSearchesWrapper.multiple>.active:after{background:transparent url('../images/searchesArrows.png') no-repeat scroll 0 -5px}
.savedSearchesWrapper.multiple>a:after{background:transparent url('images/arrow-up-down.png') no-repeat scroll 0 0;position:absolute;content:' ';display:block;top:50%;right:10px;margin-top:-3px;width:12px;height:7px;z-index:3}
.savedSearchesWrapper.active #savedSearches{z-index:10!important;max-height:240px;overflow-y:scroll}
#directorySavedSearches .savedSearchesWrapper.active>a:link,#directorySavedSearches .savedSearchesWrapper.active>a:visited{display:none}
#savedSearches{margin:0 0 0 -1px;border:1px solid #c4c4c4;position:relative;background:#fff;z-index:-1;border-top-right-radius:3px}
#directorySavedSearches #savedSearches li{display:block;float:none}
#directorySavedSearches #savedSearches li .active:link,#directorySavedSearches #savedSearches li .active:visited{color:#fe5200;background:transparent;box-shadow:none;text-shadow:none;padding:7px 6px}
#savedSearches li a:link,#savedSearches li a:visited{border-radius:0;border:0;padding:7px 6px}
#savedSearches li:last-child a:link,#savedSearches li:last-child a:visited{border-top-right-radius:3px;border-bottom-right-radius:3px}
.optionsWrapper{float:right;height:32px}
.sortByOptions{float:left;margin:0 9px 0 0}
.sortByOptions span{display:inline-block;color:#444;font-family:Arial;font-size:12px;margin:9px 3px 0 0;line-height:1.3;vertical-align:top}
.sortByOptions .activeSort{display:inline-block;position:relative;height:30px}
.activeSort .selectedSort{border:1px solid #c4c4c4;border-radius:3px;padding:7px 30px 7px 10px;min-width:110px;width:100%;display:inline-block;font-size:12px;color:#444;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.activeSort.active .selectedSort{display:none}
.activeSort.active .selectedSort:after{background-position:0 -59px}
.activeSort .selectedSort:after{background:transparent url('images/arrow-up-down.png') no-repeat scroll 0 0;position:absolute;content:' ';display:block;top:50%;right:10px;margin-top:-3px;width:12px;height:7px}
.activeSort .selectedSort:link:hover,.activeSort .selectedSort:visited:hover{text-decoration:none;border-color:#111}
.activeSort *{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.activeSort ul{list-style-type:none;margin:0;padding:0;position:relative;top:0;background:#fff;left:0;z-index:-1;display:block;border:1px solid #c4c4c4;border-radius:3px;width:100%;font-size:12px}
.activeSort.active ul{z-index:10}
.activeSort li a:link,.activeSort li a:visited{padding:7px 30px 7px 10px;display:block;color:#333}
.activeSort .selected a:link,.activeSort .selected a:visited{color:#fe5200;text-decoration:none}
.activeSort li a:link:hover,.activeSort li a:visited:hover{background:#ededef;text-decoration:none}
.searchOptions{float:right}
.searchOptions #toggleFilters{background:transparent url('../images/toggleFiltersIcon.png') no-repeat scroll 7px 7px;width:16px;height:15px;display:block;text-indent:-9999px;border:1px solid #c4c4c4;border-radius:3px;padding:7px}
.searchOptions #toggleFilters:hover{border-color:#111}
.searchOptions #toggleFilters.active{background-position:7px -38px;background-color:#a4a4a7;box-shadow:inset 0 0 10px -2px rgba(0,0,0,0.3)}
#filters{background:#ebebeb;overflow:hidden;width:100%;font-size:11px;font-family:Arial;color:#000;border-top:1px solid #9494a4;display:none;margin:0 0 10px}
#filters #sform{margin:0;float:none;padding:13px 10px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
#filters .columns-wrapper{overflow:hidden}
#filters .columns-wrapper>ul{list-style-type:none;width:16.6666666667%;padding:0 5px}
#filters .category{font-weight:bold;margin:15px 0 5px 5px}
#filters .category:first-child{margin:0 0 5px 5px}
#filters [class*="subcategory"]{margin:0 0 2px;padding:3px 6px;border-radius:3px;cursor:pointer;text-transform:capitalize;position:relative}
#filters [class*="subcategory"].subcategoryon{background:#fff;color:#fc531d}
#filters [class*="subcategory"]:hover{background:#f5f5f5}
#filters input[type="text"],#filters .subcategoryoff input[type="button"]{background:#fff;border:1px solid #cdcdcd;border-radius:2px;padding:2px 10px;width:100%;font-size:11px;color:#000;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
#tags_username,.category.locale{margin-left:0!important}
#tags_countries+.subcategoryoff,#tags_languages+.subcategoryoff{padding:0}
#tags_countries+.subcategoryoff:hover,#tags_languages+.subcategoryoff:hover{background:transparent}
#tags_countries+.subcategoryoff input[type="text"],#tags_languages+.subcategoryoff input[type="text"]{margin:0 0 5px}
.filters-footer{margin:15px 5px 0;padding:15px 0 0;border-top:1px solid #dadae1;clear:both}
.filters-footer .username-search{width:165px;float:left}
#sform .username-search input[type="text"]{border:1px solid #cdcdcd;font-size:13px;color:#444;padding:8px 10px 6px 27px;background:#fff url('../images/toggleFiltersIcon.png') no-repeat scroll 8px 7px}
.filters-footer #resultsCount{display:inline-block;margin:0 14px 0 0;top:4px;position:relative}
#resultsCount #totalCountNumber{background:#fff;padding:3px 6px;border-radius:10px;color:#fc531d;margin:0 5px 0 0;font-weight:bold}
#resultsCount #resultsFound{padding:3px 0 0}
.filters-footer .controls{float:right}
.filters-footer .controls .submit,.filters-footer .controls .reset{background:#fc531d;border:0;color:#fff;font-weight:bold;font-size:12px;display:inline-block;padding:7px 10px;border-radius:2px;border:0;cursor:pointer}
.filters-footer .controls .submit:hover{background:#f14913}
.filters-footer .controls .reset{background:#fff;color:#000;border:1px solid #c4c4c4;margin:0 0 0 3px;padding:7px 7px}
.filters-footer .controls .reset:hover{background:#fafafa;border-color:#111}
#directory .searchControls-tags{clear:both;margin:0 0 2px}
#directory .searchControls{display:none;position:relative;margin-right:6px;vertical-align:bottom;height:25px}
#directory .searchControls a:link,#directory .searchControls a:visited{color:#fe5200;text-decoration:underline;font-size:11px;font-family:Arial;line-height:2.0;display:none}
#directory .searchControls #deleteSearch:link,#directory .searchControls #deleteSearch:visited{color:#b1b1b1}
#directory .tags{padding:0;display:none;width:auto;vertical-align:top;margin:0}
#directory .tags ul{border:0;margin:0 0 5px;padding:0;border-radius:0}
#directory .tags ul li{border-radius:5px;margin:0 5px 0 0}
#directory .tags ul:first-child{margin-left:0}
#directory .dropdown{background:#fff;color:#000;width:100%;max-height:123px;height:auto;border:1px solid #cdcdcd;border-top:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.toggleCheckLi+.delimiter{display:block!important}
#directory .dropdown .delimiter{display:none}
#directory #tags_countries+.subcategoryoff input[type="button"],#directory #tags_languages+.subcategoryoff input[type="button"]{margin:0}
#directory .dropdown li label{padding:6px 0 6px 10px;display:block}
#directory .dropdown li:hover label{background:#ededef;color:#000}
#directory .dropdown .toggleCheckLi.active label{background:#ededef;color:#000}
#directory .dropdown li input[type="checkbox"]{display:none}
#directory #countries ul,#directory #languages ul{width:100%}
#directory .toggleCheckLi input[type=checkbox]:checked+label{color:#fc531d}
#directory #newSearch{padding:7px 0;border:1px solid #c4c4c4;border-left:0;background:#a4a4a7;box-shadow:inset 0 0 10px -2px rgba(0,0,0,0.3);border-top-right-radius:3px;border-bottom-right-radius:3px;height:auto}
#directory #newSearch input[type="text"]{background:transparent;border:0;font-size:12px;color:#fff;padding:0 10px}
#newSearch input::-webkit-input-placeholder{color:#fff}
#newSearch input:-moz-placeholder{color:#fff}
#newSearch input::-moz-placeholder{color:#fff}
#newSearch input:-ms-input-placeholder{color:#fff}
.deleteTab-modal-overlay,.replaceTabs-modal-overlay{position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999;background:rgba(0,0,0,0.75);display:none}
.deleteTab-modal,.replaceTabs-modal{position:absolute;top:154px;width:599px;margin:0 auto;left:0;right:0;background:#fff;padding:25px 26px 4px;font-family:Arial}
.deleteTab-modal h3,.replaceTabs-modal h3{color:#333;font-size:19px;text-transform:none;font-family:Arial;font-weight:bold;margin:0 0 17px;line-height:1}
.deleteTab-modal p,.replaceTabs-modal p{font-size:12px;color:#444}
.deleteTab-modal .modal-buttons,.replaceTabs-modal .modal-buttons{margin:0 0 21px}
.deleteTab-modal .modal-buttons+p{margin:0 0 20px}
.modal-buttons .confirm-button,.replaceTabs-modal .confirm-button{background:#fc531d;border:0;color:#fff;font-size:12px;display:inline-block;padding:7px 7px;border-radius:2px;margin:0 10px 0 0}
.modal-buttons .cancel-button,.replaceTabs-modal .cancel-button{color:#444;font-size:12px;text-decoration:underline}
.modal-buttons .confirm-button:hover,.replaceTabs-modal .confirm-button:hover{background:#f14913;text-decoration:none}
.replaceTabs-modal *{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.replaceTabs-modal .saved-searches{list-style-type:none;width:83%;overflow:hidden;margin:20px 0 21px 1px;max-height:300px;overflow-y:scroll}
.replaceTabs-modal .saved-searches li{width:49%;float:left;margin:0 0 2px;padding:0 5px 0 0}
.replaceTabs-modal .saved-searches li a{padding:3px 6px;border-radius:3px;cursor:pointer;text-transform:capitalize;position:relative;display:block;color:#fc531d}
.replaceTabs-modal .saved-searches li .active{background:#fc531d;color:#fff}
.replaceTabs-modal .saved-searches li a:hover{background:#ededef;color:#fc531d;text-decoration:none}
.replaceTabs-modal .saved-searches li .active:hover{background:#fc531d;color:#fff}
.existing-searches{width:100%}
.existing-searches .saved-searches{width:100%}
.existing-searches .saved-searches li{width:49%}
.existing-searches.not-gold .saved-searches li{float:none}
.existing-searches.not-gold{width:72%;float:left;overflow:hidden}
.gold-upgrade{width:25%;float:right;overflow:hidden;padding:15px;background-color:#d9edf7;border:1px solid #bce8f1}
.gold-upgrade p{font-size:12px;margin:0 0 5px;color:#31708f}
.gold-upgrade a:link,.gold-upgrade a:visited{border:1px solid #70a60b;background:#70a60b;border-radius:2px;display:inline-block;font-family:Arial,Helvetica,sans-serif;margin:0;text-align:center;padding:6px 12px;font-size:11px;color:#fff;text-decoration:none}
.gold-upgrade a:link:hover,.gold-upgrade a:visited:hover{background-color:#ffca27;border-color:#ffca27;color:#333}
.gold-upgrade a:link:active,.gold-upgrade a:visited:active{box-shadow:0 3px 5px rgba(0,0,0,0.125) inset}
.activeSort ul li:last-child{display:none}