#reqNotification{display:none}
#alertTip{margin:0;width:72px;background-color:#000}
#alertTip .notificationNum{background:none repeat scroll 0 0 #dd0017;border:medium none!important;color:white;font-size:9px!important;font-weight:bold;height:10px;line-height:10px;padding:2px 4px;position:absolute;right:-5px;text-align:center;top:0;border-bottom-left-radius:7px;border-bottom-right-radius:7px;border-top-left-radius:7px;border-top-right-radius:7px;border-bottom-style:none;border-bottom-width:0;cursor:auto}
#alertTip .requestAlert{width:22px;height:22px;display:block;background:url("../../images/privateShow/notice_alert1.png") no-repeat center center;position:relative;cursor:auto;margin-left:auto;margin-right:auto;height:28px}
#mainButtonBroadcaster{width:300px}
#setPrivateLi{width:12%}
#setPrivateHref{padding:8px 0;color:#fff}
#alertTip a{padding:0}
.innerTubeBroadcast a{width:auto}
.mainOverlayWrap{position:relative}
#setPrivateOverlay{position:absolute;top:-223px;height:222px;width:484px;border:1px solid #1f1f1f;border-bottom:0;background-color:#fff;display:none}
.selectBox{width:auto;text-align:left;margin:4px 0 0 0}
.valigned{display:block}
.NSButton{background-color:#fc531d;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border:0;color:#fff;display:block;font-family:arial,helvetica,sans-serif;font-weight:lighter;font-size:14px;height:auto;width:auto;padding:6px 12px;font-size:14px;float:right;cursor:hand;cursor:pointer}
.NSButton:hover{text-decoration:none;background-color:#ba3400}
.NSOverlayTitle{font-weight:bold;color:#fc531d;font-size:19px;letter-spacing:-1px;width:auto;display:inline-block;margin-left:5px;padding:4px}
.NSOverlayHeader{height:37px;padding-left:10px;margin-top:6px;background-color:#FFF}
.NSOverlayHeader img{width:24px;height:24px;margin:0;padding:2px}
#setPrivateContent{width:95%;height:157px;margin-left:auto;margin-right:auto;background-color:#fff}
#privateItems{float:left;margin-top:10px;margin-left:10px;margin-bottom:4px;height:102px;text-align:right;width:inherit;font-size:13px}
#privateItems span{margin-right:10px}
#privateItems label span{margin:0}
#privateItems #setPsPerMinute{font-size:14px;float:left;margin-right:12px}
#PSSettings{display:block;height:78px}
#PSSettings #choosePrice{float:left}
#dollarSign{float:left;display:none;background-image:url("../../images/privateShow/payments.png");background-repeat:no-repeat;background-position:center;width:11%;height:28px}
#broadcasterTime{font-size:16px;font-weight:bold;padding:4px 0;margin-left:5px;color:#fff;width:60px;display:none}
#psStatus{padding:8px 0}
#psStatus span{font-size:10px}
#earningBar{float:right;height:28px;color:#300;display:none}
#earningBar strong{color:#005717}
#tokensUi{width:60%;float:left}
#numSpiesDiv{float:right;width:17%}
#numSpiesTxt{width:auto;display:block}
#numSpiesNum{padding-top:7px;display:block;border-left:1px solid gray}
#spyAmount{float:left;margin:0;padding:0;white-space:nowrap;overflow:hidden}
#viewerAmount{float:right;margin:0;padding:0;white-space:nowrap;overflow:hidden;position:relative;top:-15px}
#options2 #viewerTime{width:236px;display:block;font-size:19px;padding-top:4px;font-weight:bold;color:#000;margin-left:auto;margin-right:auto;text-align:center;float:left}
#options2 #innerTubeViewer #Cam2CamButton{width:130px;font-size:12px;font-weight:bold;text-align:center;float:left;padding:5px 4px 4px 4px;cursor:hand;cursor:pointer}
#options2 #innerTubeViewer .Cam2CamButton-Inactive{background:#757575;background:-moz-linear-gradient(top,rgba(117,117,117,1) 0,rgba(255,255,255,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(117,117,117,1)),color-stop(100%,rgba(255,255,255,1)));background:-webkit-linear-gradient(top,rgba(117,117,117,1) 0,rgba(255,255,255,1) 100%);background:-o-linear-gradient(top,rgba(117,117,117,1) 0,rgba(255,255,255,1) 100%);background:-ms-linear-gradient(top,rgba(117,117,117,1) 0,rgba(255,255,255,1) 100%);background:linear-gradient(to bottom,rgba(117,117,117,1) 0,rgba(255,255,255,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575',endColorstr='#ffffff',GradientType=0)}
#options2 #innerTubeViewer .Cam2CamButton-Active{background:#f7f7f7;background:-moz-linear-gradient(top,rgba(247,247,247,1) 0,rgba(221,221,221,1) 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(247,247,247,1)),color-stop(100%,rgba(221,221,221,1)));background:-webkit-linear-gradient(top,rgba(247,247,247,1) 0,rgba(221,221,221,1) 100%);background:-o-linear-gradient(top,rgba(247,247,247,1) 0,rgba(221,221,221,1) 100%);background:-ms-linear-gradient(top,rgba(247,247,247,1) 0,rgba(221,221,221,1) 100%);background:linear-gradient(to bottom,rgba(247,247,247,1) 0,rgba(221,221,221,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7',endColorstr='#dddddd',GradientType=0)}
#mainButtonViewer{float:none;text-align:center;display:block;overflow:hidden}
#introTxttest{font-size:11px;font-weight:bold;height:24px;width:80px}
#introTxttest span{display:block;color:#fff;font-weight:bold;text-decoration:none;text-transform:uppercase;font-size:12px}
.xtraMargin{padding:5px 8px 0 0;text-shadow:0 -1px 0 #fc531d;background-color:#f67a2f;background-image:-webkit-gradient(linear,left top,left bottom,from(#f67a2f),to(#fc531d));background-image:-webkit-linear-gradient(top,#f67a2f,#fc531d);background-image:-moz-linear-gradient(top,#f67a2f,#fc531d);background-image:-ms-linear-gradient(top,#f67a2f,#fc531d);background-image:-o-linear-gradient(top,#f67a2f,#fc531d);background-image:linear-gradient(top,#f67a2f,#fc531d);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ff9a00',EndColorStr='#fc531d')}
.xtraMarginRequestPs{padding:5px 8px 0 0}
.requestPsAutosize{font-size:11px;font-weight:bold;height:24px;width:230px}
.miscInfoFixed{font-size:10px}
.noticeBody .accept{margin:0}
#noLinkToRun{background-color:#666;color:white;display:block;padding:3px 8px}
ul.chatOptions li.tipperInfo{height:20px}
.whiteBack{background-color:#fff;padding:2px}
#closeButBRTable{position:absolute;top:-20px;right:-22px;margin:0;padding:0;background:transparent}
#contentWrap .accept a{color:#FFF}
#contentWrap .accept button{color:#FFF}
#overlayWrap .rejectPsBut{color:#e8602f;text-decoration:none;font-size:12px;line-height:24px;font-weight:bold;padding:0 10px;cursor:pointer;cursor:hand}
#overlayWrap .acceptPsBut{color:#e8602f;text-decoration:none;text-shadow:0 -1px 0 #3b960c;background-color:#48ba0e;background-image:-webkit-gradient(linear,left top,left bottom,from(#48ba0e),to(#3b960c));background-image:-webkit-linear-gradient(top,#48ba0e,#3b960c);background-image:-moz-linear-gradient(top,#48ba0e,#3b960c);background-image:-ms-linear-gradient(top,#48ba0e,#3b960c);background-image:-o-linear-gradient(top,#48ba0e,#3b960c);background-image:linear-gradient(top,#48ba0e,#3b960c);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#48ba0e',EndColorStr='#3b960c');display:block;font-size:14px;line-height:24px;font-weight:bold;padding:0 10px;color:#FFF;text-decoration:none;cursor:pointer;cursor:hand}
#overlayWrap .acceptPsButOrange{color:#e8602f;text-decoration:none;background-color:#fc531d;display:block;font-size:16px;line-height:24px;padding:4px 16px;color:#FFF;text-decoration:none;cursor:pointer;cursor:hand;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;font-weight:lighter}
#contentWrap .accept a:hover{text-decoration:none}
.grd-green3,.grd-green2:hover{text-shadow:0 -1px 0 #148801;background-color:#3caf12;background-image:-webkit-gradient(linear,left top,left bottom,from(#3caf12),to(#148801));background-image:-webkit-linear-gradient(top,#3caf12,#148801);background-image:-moz-linear-gradient(top,#3caf12,#148801);background-image:-ms-linear-gradient(top,#3caf12,#148801);background-image:-o-linear-gradient(top,#3caf12,#148801);background-image:linear-gradient(top,#3caf12,#148801);filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#3caf12',EndColorStr='#148801')}
#addPsFavoriteBtn{display:block;margin-left:10px;float:left;padding-top:2px;font-weight:bold}
#addheart{height:23px}
#addheart img{border:0;margin:0;padding:0}
.smartSelect{display:block;background-color:#fff;border:0;width:278px;background-image:url('../images/orgArrowGrey.png');background-repeat:no-repeat;background-position:right center;border:1px solid #CCC;overflow:hidden;box-shadow:inset .5px .5px 18px 1px #ccc;-webkit-box-shadow:inset .5px .5px 18px 1px #ccc}
.smartSelect select{background:transparent;appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;-khtml-appearance:none;display:block;padding:4px;font-size:12px;width:300px;overflow:hidden;border:0}
.NSminimal,.smartSelect .NSminimal{width:84px}
.lefted{display:inline-block}
.NSTimeLeft{color:#000;font-size:14px;font-family:arial,helvetica,sans-serif;font-weight:normal;margin:0!important;border:medium none!important;float:left;text-shadow:0 1px 0 #AAA;line-height:28px;padding-left:10px}
.newShowsOverlay{position:absolute;top:-223px;height:222px;width:484px;border:1px solid #1f1f1f;border-bottom:0;background-color:#FFF;display:none}
.NSButtonToLink{background:0;border:0;text-decoration:underline;appearance:none;-moz-appearance:none;-webkit-appearance:none;-o-appearance:none;-ms-appearance:none;-khtml-appearance:none;font-weight:bold;color:#fc531d;cursor:hand;cursor:pointer;font-size:14px;font-family:arial,helvetica,sans-serif;text-transform:uppercase}
.NSSelectable{float:left;width:116px;background:0}
.NSBoldedInfo{font-weight:bold;display:block;white-space:nowrap}
.NSOverlayRow{padding:2px;width:470px;margin:2px auto 4px auto;display:block;background:0;text-align:justify}
#NSdescription{width:458px;height:44px;resize:none}
#NSSellTicketsButton{margin-top:20px;margin-right:11px}
#options2 .innerTube ul.camOptions li button.joinGroupB:hover{color:#fff}
.NSMainButtonDisabledSuccess{background:#608e0b url(../../images/check-83c30c-12px.png) no-repeat 5px center!important;color:#fff!important;cursor:progress;cursor:wait!important}
.NSMainButtonDisabledSuccess:hover{background:#608e0b url(../../images/check-83c30c-12px.png) no-repeat 5px center!important;color:#fff!important;cursor:progress;cursor:wait!important}
.NSMainButtonDisabled{background:#ccc!important;color:black!important;cursor:progress;cursor:wait!important}
.NSMainButtonDisabled:hover{background:#ccc!important;color:black!important;cursor:progress;cursor:wait!important}
#declineWrap .declineTxt p{display:block;height:20px}
#declineWrap .declineTxt p button{float:right}
#declineWrap .declineTxt p .boldBtn{height:20px}
#contentWrap h2{text-align:left;padding:8px 0 8px 0;background:0}
#NSBroadcastReceipt #bigInfo{background:#ffe1d7;font-size:24px;padding:10px 10px 10px 0;text-indent:10px;margin:30px 0 12px 0;float:none}
#NSBroadcastReceipt .declineTxt{text-align:right;float:none;margin:2px 0 0 0;clear:both}
#NSBroadcastReceipt .declineTxt button{border:0;background:0;cursor:hand;cursor:pointer;display:block;margin:0;text-align:right;width:100%;padding:2px 0 0 0}
#NSBroadcastReceipt .miniBio{background:#f3f3f3;height:42px;padding-left:5px}
#NSBroadcastReceipt .miniBio .miniBio-userName{padding-top:8px}
#NSBroadcastReceipt .roundedCornerDialog{height:222px;width:542px;margin:120px auto 0 auto}
#NSBroadcastReceipt .miscInfo img{float:left}
#NSBroadcastReceipt .rightCol{float:left;margin:0}
#NSBroadcastReceipt .leftCol{float:left;width:128px;display:block;margin:0 10px 0 0}
#NSBroadcastReceipt h2{background:0;font-size:22px;color:black;height:28px;display:block;text-align:left;text-indent:0;margin:0 0 15px 0}
#NSBroadcastReceipt img{float:none}
#rateWrap p{color:#666}
#bigInfo{color:#666}
#contentWrap .pendingRequests{font-size:15px;font-weight:bold}
#contentWrap .tableInfo{font-size:12px;font-weight:lighter;margin-top:8px}
.camOptions .private-settings-active{background:white!important;color:black!important}
.camOptions .private-settings-active #setPrivateHref{color:black!important}
#allowPrivateLabel{margin-right:34px}
#privateItems #PSSettings #setPsPerMinute{width:100%;display:block}
#NSBroadcastReceipt .roundedCornerDialog .miniBio .miscInfo .gender{float:left}
#NSBroadcastReceipt .roundedCornerDialog .miniBio .miscInfo .flag{float:left;margin-top:2px}
#NSBroadcastReceipt .roundedCornerDialog .miniBio .miscInfo .sexuality{float:left;margin-left:7px;margin-top:1px}
.tooltip-blue:before{border-color:rgba(0,0,0,0) #d0e8f6 rgba(0,0,0,0) rgba(0,0,0,0)!important}
.tooltip-blue{background:#d0e8f6!important;color:#3a87ad!important;padding:10px;max-width:250px!important;-webkit-box-shadow:0 0 11px 1px rgba(50,50,50,0.75);-moz-box-shadow:0 0 11px 1px rgba(50,50,50,0.75);box-shadow:0 0 11px 1px rgba(50,50,50,0.75)}
.tooltip-blue a{color:#3a87ad!important;font-weight:bold;text-decoration:underline;display:block;width:100%;margin:10px 0 10px 0;text-align:center}
.tooltip-blue button{color:white!important;float:none!important;margin:0 auto 0 auto}
#closeReceiptBtn{color:#fc531d}
#closeReceiptBtn:hover{text-decoration:underline}